<div class="bs-docs-section">
	<div class="page-header">
		<div class="row">
			<div class="col-lg-12">
				<h1 id="ques" style="font-size: 25px;font-family:Georgia,'Times New Roman',Times,Helvetica,Arial,serif;
    font-weight:lighter;">Problems</h1>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="question in vm.questions" >
		<div class="col-lg-8" style="border:1px solid #ebebeb;border-color:#4e5d6c;padding:15px;margin-left: 16px;margin-bottom:20px;
	 border-left-width:4px;box-shadow:0.1em 0.0em 0.1em 0.1em #4e5d6c">

			<a href="#showQuestionDetail/{{question.id}}" class="heading-text" >{{question.question}}</a>
			<p class="content-text">{{question.answer | cut:200:' ...'}}</p>
		</div>
	</div>
	
<div  data-pagination ='true'
                     data-on-select-page="vm.pageChanged(page)"
                     data-total-items="vm.totalRecords"
                     data-page="vm.currentPage"
                     data-items-per-page="vm.pageSize"
                     data-boundary-links="true"
                     data-rotate="false"
                     data-max-size="6"
                     data-previous-text="&lsaquo;"
                     data-next-text="&rsaquo;"
                     data-first-text="&laquo;"
                     data-last-text="&raquo;"
                     class="pagination-sm col-lg-4">
</div>
                  
<p class="col-lg-3" style="margin-top:24px;">   Page : {{ vm.currentPage }} / {{ vm.totalRecords/vm.pageSize}} </p>
</div>
